*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
body{
    margin: 0px;    
}
img{
    width: 100px;
    height:100px;
    border-radius: 10px;
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
h2{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(31, 2, 59) ;
}
a{
    color: azure;
    font-size: 1.2rem;
    text-decoration: none;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}
.dotted-hr{
    border: dotted white 7px;
    border-bottom: none;
    margin: 20px auto;
    width: 120px;
}

/* For Desktop */
[class*="col-"]{
    float: left;
    padding: 10px;
}
/* For Mobile */
[class*="col-"]{
    width: 100%;
}

/* navbar design start here */

.navbar{
    background-color: darkcyan;
    padding: 1% 6%;
    text-align: center;
}
.navbar h1{
    color: rgb(24, 1, 1);
    margin: 0px;
    padding-top: 10px;
}

.navbar::after{
    clear: both;
    display: table;
    content:'';
    /* Empty content= content:'';*/
}
.navbar-manu{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.navbar-manu a{
    background-color: rgb(6, 114, 114);
    border-radius: 10px;
    margin: 6px;
    padding: 10px;
    cursor: pointer;
}
.navbar-manu a:hover{
    background-color: lightskyblue;
}

/* navbar design ends here */


/* profile design starts here */
.profile{
    padding: 150px 10px;
    position: relative;
    text-align: center;
}
.profile img{
    border-radius: 10px;
}
.profile .top-icon{
    position: absolute;
    right: 60px;
    top: 20px;
    transition: transform 1s;
}
.profile .top-icon:hover{
    transform: rotate(360deg);
}
.profile-desc h1{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}
.profile-desc p{
    color: rgb(9, 85, 77);
    margin: 0px auto 25px auto;
    text-align: center;
    width: 90%;
}
.profile .bottom-icon{
    position: absolute;
    left: 60px;
    bottom: 20px;
    transition: transform 0.5s;
}
.profile .bottom-icon:hover{
    transform: rotate(-360deg);
}
.profile::after{
    content:'';
    display: table;
    clear: both;
}


/* profile design ends here */


/* about me design starts here */

.about-me{
    background-color: cornflowerblue;
    padding: 1% 7%;
    color: cornsilk;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}

.am-image img{
    border: 5px solid white;
    border-radius: 50%;
    width: 220px;
    height: 220px;
}

.about-me p{
    text-align: center;
}

.about-me a{
    color: rgb(124, 6, 120);
    font-size: 1.1rem;
}
.cv-button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    /* width: 120px;
    height: 40px; or */
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}


/* always clear the floating after the float */
.about-me::after{
    content: '';
    display: table;
    clear: both;
}

/* about me desigh ends here */


/* professional-experience starts here */

.professional-experience{
    padding: 1% 0%;
}
.professional-experience .card{
    background-color: rgb(126, 7, 156);
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    height: 700px;

}
.professional-experience .card:hover{
    box-shadow: 0 4px 8px 8px black;
    background-color: mediumpurple;
}
.card-icon{
    text-align: center;
}
.card-icon img{
    margin-top: 20px;
    width: 100px;
}
.rounded-img{
    border: 5px solid darkblue;
    border-radius: 50%;
    padding: 3px;
}
.card-title h2{
    background-color: brown;
    color: cornsilk;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}




/* Skills container starts here */
.skills-container{
    padding: 0px 20px;
}
.skills-container li{
    list-style: none;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 30px 10px;
    position: relative;
}
.skills-container li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0px;
    width: 100%;
    height: 20px;
    background-color: rgb(207, 198, 162);
    border-radius: 100px;
}
.skills-container li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0px;
    width: 0%;
    height: 20px;
    background-color: rgb(14, 6, 75);
    border-radius: 100px;
    
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

.skills-container li.html::after{
    animation-name: html;    
}
@keyframes html {
    to{
        width: 95%;
        background-color: rgb(33, 33, 172);
    }
}
.skills-container  li.css::after{
    animation-name: css;
}
@keyframes css {
    to{
        width: 90%;
        background-color: blueviolet;
    }
}
.skills-container  li.bs::after{
    animation-name: bs;
}
@keyframes bs {
    to{
        width: 92%;
        background-color: rgb(72, 166, 228);
    }
}
.skills-container  li.js::after{
    animation-name: js;
}
@keyframes js {
    to{
        width: 85%;
        background-color: rgb(245, 231, 31);
    }
}
.skills-container  li.rjs::after{
    animation-name: rjs;
}
@keyframes rjs {
    to{
        width: 80%;
        background-color: rgb(253, 8, 192);
    }
}
.skills-container  li.ejs::after{
    animation-name: ejs;
}
@keyframes ejs {
    to{
        width: 78%;
        background-color: rgb(43, 226, 195);
    }
}
.skills-container  li.njs::after{
    animation-name: njs;
}
@keyframes njs {
    to{
        width: 70%;
        background-color: rgb(110, 226, 43);
    }
}
.skills-container  li.mdb::after{
    animation-name: mdb;
}
@keyframes mdb {
    to{
        width: 88%;
        background-color: rgb(102, 109, 4);
    }
}
.skills-container  li.rn::after{
    animation-name: rn;
}
@keyframes rn {
    to{
        width: 68%;
        background-color: rgb(231, 24, 86);
    }
}
/* Skills container ends here */
.professional-experience::after{
    content: '';
    display: table;
    clear: both;
}
/* professional-experience ends here */

/* achievement-contact starts here */
.achievement-contact{
    padding: 1% 7%;
    background-color: rgb(8, 122, 126);
    color: white;
}
.contact{
    /* padding: 1% 2%;     */
    text-align: center;
}
.contact input, textarea{
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    resize: none;
}
.contact button{
    border: none;
    border-radius: 12px;
    width: 100px;
    padding: 12px;
    margin: 10px;
    background-color: black;
    color: blanchedalmond;
    cursor: pointer;

}
.contact-links{
    text-align: center;
}
.media-button .btn{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    width: 50px;
}
.btn:hover{
    background-color: rgb(179, 173, 224);
}
/* floating clear: when we use float like col-1/3/5 */
.achievement-contact::after{
    content: '';
    display: table;
    clear: both;
}

/* achievement-contact ends here */

/* Footer strats form here */
.footer{
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;

}

.footer-manu a{
    display: block;
    margin: 15px 0px;
    font-family: cursive;
}
.footer-manu a:hover{
    color: rgb(45, 6, 219);    
    border-radius: 15px;
    background-color: rgb(26, 158, 182);
}
.footer::after{
    content: '';
    display: table;
    clear: both;
}

/*Footer ends  here  */